# Required for Wallaby. But not using Wallaby right now. Failed to
# get it working. It's not picking up vitest globalSetup.ts
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=vite-node
public-hoist-pattern[]=@vitest/*